{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

nav {
    display: flex;
    background-color: rgb(212, 19, 19);
    justify-content: space-around;
    padding: 0px 0px;
    color: white;
}

nav .logo {
    font-family: 'Rye', cursive;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 0.8em;
}

nav ul li a:hover {
    color: white;
}

@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    nav ul {
        display: none;
    }
}